.Hero {
    flex-flow: column nowrap;
    height: unset;
}

.Hero__Side {
    flex: 1;
    margin: 0;
    width: 100%;

    &--indent {
        padding: map-get($spacers, 4) nth($container-spaces-mobile, 3) !important;
    }
}
