.MusicPlayer__Container {
    padding: 0 calc(calc(16vmin + 3vw + 0px) * 1);
}

.MusicPlayer__center {
    position: absolute; 
    left: 50%;
}

.MusicPlayer__cover {
    top: 50%;
    transform: translate(-130%, -50%);
}

.MusicPlayer__TextContainer {
    top: 50%;
    left: 50%;
    transform: translatey(-85%);
}
