.PostNews__indentation {
    margin-left: 1rem;
}

.Post__Author {
    display: inline-flex;
    text-align: right;
    font-size: small;  
    width: fit-content;
    float: right 
}

.PostNews__readMore {
    display: inline-flex;
    width: fit-content;
}
