.Header__toggler {
    position: relative;
    display: flex;
    flex-direction: column;
    visibility: visible;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding: 17px 0 17px;
}
