.PostFilterWithImages {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;

  .slick-slide {
    margin: 0 6vw;
  }
}

.PostFilterWithImages__LinkCard {
  width: 100px;
  height: 130px;
  text-decoration: none !important;
}

.PostFilterWithImages__LinkCard__imageContainer {
    display: block;
    position: relative;
    width: 4em;
    height: 4em;
    margin: 0 auto;

    >i {
      font-size: 50px;
      color: #555;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}

.PostFilterWithImages__LinkCard__image {
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
  filter: grayscale(100%);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.PostFilterWithImages__LinkCard__text {
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  margin: 8px auto;
  color: #555;
}

.PostFilterWithImages__LinkCard--is-active {
  .PostFilterWithImages__LinkCard__imageContainer >i {
    background: linear-gradient(90deg, rgba(185, 41, 47, 1) 20%, rgba(230, 152, 37, 1) 115%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .PostFilterWithImages__LinkCard__text {
    font-weight: 600;
    background: linear-gradient(90deg, rgba(185, 41, 47, 1) 20%, rgba(230, 152, 37, 1) 115%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
