.Title {
    position: relative;
    font-size: #{$base-font-size * 2.5};
    font-style: italic;

    &:first-child {
        padding-top: 0;
    }

    & + & {
        padding: 0;
        margin-top: -#{$header-margin / 1.25};
    }

    &--with-lines{
        font-weight: bold;
        width: fit-content;
        margin: auto;
        background-color: $background-main;
        color: $primary;
        padding: 0 5rem;
    
        &::before {
            position: absolute;
            content: '';
            height: 3px;
            background-color: $primary;
            left: -20rem;
            right: -20rem;
            top: 50%;
            z-index: -1;
        }
    }

    &--with-underline {
        margin-bottom: 2rem;

        &::before {
            position: absolute;
            content: '';
            width: 10rem;
            height: 3px;
            background-color: $primary;
            bottom: -1rem;
        }
    }
}
