@mixin Button {
    display: inline-block;
    padding: 8px 32px;
    border-radius: 25px;
    text-decoration: none;
}

@mixin ButtonMobile {
    @include Button;
    padding: 10px 36px !important;
    font-size: $base-font-size;
}

@mixin ButtonFilled($backgroundColor) {
    @include Button;
    background-color: $backgroundColor;
    color: $white !important;
}

@mixin ButtonFilledMobile($backgroundColor) {
    @include ButtonMobile;
    @include ButtonFilled($backgroundColor);
}

@mixin ButtonEmpty($color) {
    @include Button;
    border: solid $color 1px;
    color: $color;
}

@mixin ButtonEmptyMobile($color) {
    @include ButtonMobile;
    @include ButtonEmpty($color);
}
