$background-main: #151518; //#111114 lub #151518
$background-footer: #151111;
$background-post: #22222b;

$primary: #cf2e2e;
$plastic-red: #871b1b;
$red: #a51b0b;

$link-color: #a51b0b;

$font-main: $white;
