$background-main: #151518; //#111114 lub #151518
$background-footer: #151111;
$background-post: #22222b;

$primary: #cf2e2e;
$plastic-red: #871b1b;
$red: #a51b0b;
$gradient: linear-gradient(90deg, rgba(185,41,47,1) 20%, rgba(230,152,37,1) 115%);

$link-color: #cf2e2e;//#a51b0b;

$font-main: $white;
