$base-font-size: 1em;
$font-family-sans-serif: 'Exo 2', sans-serif;//Lato, sans-serif;
$slick-font-path: '../node_modules/slick-carousel/slick/fonts/';
$fa-font-path: "../node_modules/font-awesome/fonts/";

$paragraph-size: 17px;
$paragraph-line-height: 1.5em;
$paragraph-margin: 20px;
$paragraph-margin-bottom: 0;

$header-line-height: 1.25em;
$header-margin: $paragraph-margin * 1.2;

$blockquote-color: var(--gray-500);
$blockquote-size: 23px;
$blockquote-line-height: 1.5em;
$blockquote-margin: $paragraph-margin * 1.5;

$hr-margin: 30px;

$sizeOfArrowPlane: map-get($spacers, 5);
